In [1]:
#!conda create --name envmk1
#!conda info --envs

In [2]:
'''
Local:
/home/mk/requirements
'''
#!pip freeze
#!pip freeze > requirements.txt

'\nLocal:\n/home/mk/requirements\n'

In [3]:
pip install -qr requirements.txt

Note: you may need to restart the kernel to use updated packages.

In [4]:
import numpy as np
import pandas as pd
import requests
import io
import os

In [5]:
fonte = "https://data.brasil.io/dataset/covid19/caso_full.csv.gz"
resposta = requests.get(fonte)
content = resposta.content
print(type(content))
dados = pd.read_csv(io.BytesIO(content), sep=",", compression="gzip", index_col=0, quotechar='"')
dados.to_csv("/home/mk/Documentos/maringa/caso_full.csv", index=True)
dados

<class 'bytes'>

,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
city,,,,,,,,,,,,,,,,,
São Paulo,3550308.0,2020-02-25,9,12325232.0,12252023.0,False,False,1,0.00811,2020-02-25,0.0000,0,1,city,SP,1,0
NaN,35.0,2020-02-25,9,46289333.0,45919049.0,False,False,1,0.00216,2020-02-25,0.0000,0,1,state,SP,1,0
São Paulo,3550308.0,2020-02-26,9,12325232.0,12252023.0,False,False,1,0.00811,2020-02-26,0.0000,0,2,city,SP,0,0
NaN,35.0,2020-02-26,9,46289333.0,45919049.0,False,False,1,0.00216,2020-02-26,0.0000,0,2,state,SP,0,0
São Paulo,3550308.0,2020-02-27,9,12325232.0,12252023.0,False,False,1,0.00811,2020-02-27,0.0000,0,3,city,SP,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,43.0,2020-12-28,53,11422973.0,11377239.0,True,False,432241,3783.96237,2020-12-28,0.0197,8536,294,state,RS,638,44
NaN,42.0,2020-12-28,53,7252502.0,7164788.0,True,False,482129,6647.76101,2020-12-28,0.0105,5082,292,state,SC,2182,43
NaN,28.0,2020-12-28,53,2318822.0,2298696.0,True,False,110001,4743.83113,2020-12-28,0.0224,2461,290,state,SE,1058,7
NaN,35.0,2020-12-28,53,46289333.0,45919049.0,True,False,1427752,3084.40824,2020-12-28,0.0321,45902,308,state,SP,1576,39
NaN,17.0,2020-12-28,53,1590248.0,1572866.0,False,True,89410,5622.39349,2020-12-27,0.0137,1226,286,state,TO,0,0

In [6]:
cidade1 =  dados.query('city == "Maringá"')
cidade1.to_csv("/home/mk/Documentos/maringa/maringa.csv", index=True)
cidade1

,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
city,,,,,,,,,,,,,,,,,
Maringá,4115200.0,2020-03-18,12,430157.0,423666.0,False,False,1,0.23247,2020-03-18,0.0000,0,1,city,PR,1,0
Maringá,4115200.0,2020-03-19,12,430157.0,423666.0,False,False,1,0.23247,2020-03-19,0.0000,0,2,city,PR,0,0
Maringá,4115200.0,2020-03-20,12,430157.0,423666.0,False,False,1,0.23247,2020-03-20,0.0000,0,3,city,PR,0,0
Maringá,4115200.0,2020-03-21,12,430157.0,423666.0,False,False,1,0.23247,2020-03-21,0.0000,0,4,city,PR,0,0
Maringá,4115200.0,2020-03-22,13,430157.0,423666.0,False,False,1,0.23247,2020-03-22,0.0000,0,5,city,PR,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Maringá,4115200.0,2020-12-24,52,430157.0,423666.0,False,False,20847,4846.37005,2020-12-24,0.0145,303,282,city,PR,291,3
Maringá,4115200.0,2020-12-25,52,430157.0,423666.0,False,False,21112,4907.97546,2020-12-25,0.0145,307,283,city,PR,265,4
Maringá,4115200.0,2020-12-26,52,430157.0,423666.0,False,False,21112,4907.97546,2020-12-26,0.0145,307,284,city,PR,0,0
Maringá,4115200.0,2020-12-27,53,430157.0,423666.0,False,False,21126,4911.23009,2020-12-27,0.0145,307,285,city,PR,14,0
Maringá,4115200.0,2020-12-28,53,430157.0,423666.0,True,False,21403,4975.62518,2020-12-28,0.0145,311,286,city,PR,277,4

In [7]:
cidade_sel1 = cidade1.filter(items=['date', 'last_available_confirmed', 'last_available_deaths'])

In [8]:
cidade_sel1.T

city,Maringá,Maringá,Maringá,Maringá,Maringá,Maringá,Maringá,Maringá,Maringá,Maringá,...,Maringá,Maringá,Maringá,Maringá,Maringá,Maringá,Maringá,Maringá,Maringá,Maringá
date,2020-03-18,2020-03-19,2020-03-20,2020-03-21,2020-03-22,2020-03-23,2020-03-24,2020-03-25,2020-03-26,2020-03-27,...,2020-12-19,2020-12-20,2020-12-21,2020-12-22,2020-12-23,2020-12-24,2020-12-25,2020-12-26,2020-12-27,2020-12-28
last_available_confirmed,1,1,1,1,1,1,1,2,3,7,...,18992,19431,19871,20264,20556,20847,21112,21112,21126,21403
last_available_deaths,0,0,0,0,0,0,0,0,0,2,...,279,279,280,290,300,303,307,307,307,311

In [9]:
cidade_sel1.to_csv("/home/mk/Documentos/maringa_sel.csv", index=True)

In [10]:
cidade_sel1.T.to_csv("/home/mk/Documentos/maringa_selT.csv", index=False)

In [11]:
cidade2 =  dados.query('city == "Londrina"')
cidade2.to_csv("/home/mk/Documentos/maringa/londrina.csv", index=True)
cidade2

,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
city,,,,,,,,,,,,,,,,,
Londrina,4113700.0,2020-03-17,12,575377.0,569733.0,False,False,1,0.17380,2020-03-17,0.0000,0,1,city,PR,1,0
Londrina,4113700.0,2020-03-18,12,575377.0,569733.0,False,False,1,0.17380,2020-03-18,0.0000,0,2,city,PR,0,0
Londrina,4113700.0,2020-03-19,12,575377.0,569733.0,False,False,1,0.17380,2020-03-19,0.0000,0,3,city,PR,0,0
Londrina,4113700.0,2020-03-20,12,575377.0,569733.0,False,False,3,0.52140,2020-03-20,0.0000,0,4,city,PR,2,0
Londrina,4113700.0,2020-03-21,12,575377.0,569733.0,False,False,3,0.52140,2020-03-21,0.0000,0,5,city,PR,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Londrina,4113700.0,2020-12-24,52,575377.0,569733.0,False,False,21959,3816.45426,2020-12-24,0.0173,379,283,city,PR,361,0
Londrina,4113700.0,2020-12-25,52,575377.0,569733.0,False,False,22140,3847.91189,2020-12-25,0.0171,379,284,city,PR,181,0
Londrina,4113700.0,2020-12-26,52,575377.0,569733.0,False,False,22196,3857.64464,2020-12-26,0.0171,379,285,city,PR,56,0
Londrina,4113700.0,2020-12-27,53,575377.0,569733.0,False,False,22330,3880.93372,2020-12-27,0.0170,379,286,city,PR,134,0
Londrina,4113700.0,2020-12-28,53,575377.0,569733.0,True,False,22500,3910.47956,2020-12-28,0.0168,379,287,city,PR,170,0

In [12]:
cidade_sel2 = cidade2.filter(items=['date', 'last_available_confirmed', 'last_available_deaths'])

In [13]:
cidade_sel2.T

city,Londrina,Londrina,Londrina,Londrina,Londrina,Londrina,Londrina,Londrina,Londrina,Londrina,...,Londrina,Londrina,Londrina,Londrina,Londrina,Londrina,Londrina,Londrina,Londrina,Londrina
date,2020-03-17,2020-03-18,2020-03-19,2020-03-20,2020-03-21,2020-03-22,2020-03-23,2020-03-24,2020-03-25,2020-03-26,...,2020-12-19,2020-12-20,2020-12-21,2020-12-22,2020-12-23,2020-12-24,2020-12-25,2020-12-26,2020-12-27,2020-12-28
last_available_confirmed,1,1,1,3,3,3,3,3,3,3,...,20290,20508,20632,21198,21598,21959,22140,22196,22330,22500
last_available_deaths,0,0,0,0,0,0,0,0,0,0,...,377,377,377,378,379,379,379,379,379,379

In [14]:
cidade_sel2.to_csv("/home/mk/Documentos/londrina_sel.csv", index=True)

In [15]:
cidade_sel1.T.to_csv("/home/mk/Documentos/maringa_selT.csv", index=False)

In [16]:
frames = [cidade_sel1, cidade_sel2]
final = pd.concat(frames)
final = final.T

In [17]:
final.to_csv("/home/mk/Documentos/maringa/final.csv", index=True)

In [18]:
os.system('spd-say "Murilo Krominski"')

0